body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
.row {
  display: flex;
}

.control {
  display: block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  width: 50%;
  height: 50%;
  text-align: center;
  position: absolute;
  opacity: 0.5;
  top: 25%;
  left: 25%;
}
.piece > svg {
  width: 60px;
}
.piece.black {
  color: hsl(0, 0%, 20%);
}
.piece.white {
  color: hsl(0, 0%, 80%);
}
.player.white .control.white,
.player.black .control.black {
  background-color: hsla(120, 20%, 50%, 0.9);
}
.player.white .control.black,
.player.black .control.white {
  background-color: hsla(0, 20%, 50%, 0.9);
}
.player.white .control-2.white,
.player.black .control-2.black {
  background-color: hsla(120, 60%, 50%, 0.9);
}
.player.white .control-2.black,
.player.black .control-2.white {
  background-color: hsla(0, 60%, 50%, 0.9);
}
.player.white .control-3.white,
.player.black .control-3.black {
  background-color: hsla(120, 100%, 50%, 0.9);
}
.player.white .control-3.black,
.player.black .control-3.white {
  background-color: hsla(0, 100%, 50%, 0.9);
}
.board {
  width: 800px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  font-size: 64px;
  background-color: hsla(60, 20%, 60%, 1);
  background-image: linear-gradient(45deg, hsla(60, 20%, 40%, 1) 25%, transparent 25%),
    linear-gradient(-45deg, hsla(60, 20%, 40%, 1) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, hsla(60, 20%, 40%, 1) 75%),
    linear-gradient(-45deg, transparent 75%, hsla(60, 20%, 40%, 1) 75%);
  background-size: 25% 25%;
  background-position: 0 0, 0 100px, 100px -100px, -100px 0px;
}
.game {
  position: relative;
  margin: 20px;
}
.game::before {
  content: '8 7 6 5 4 3 2 1';
  position: absolute;
  display: block;
  width: 20px;
  height: 100%;
  left: -20px;
  font-size: 20px;
  line-height: 100px;
}
.game::after {
  content: 'abcdefgh';
  position: absolute;
  height: 20px;
  width: 100%;
  font-size: 20px;
  letter-spacing: 90px;
  padding: 0 50px;
}
/* A square */
.board > div {
  width: 12.5%;
  height: 12.5%;
  position: relative;
}
.board > div > .tile {
  opacity: 0.8;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.board > .selectable,
.board > .move-target,
.board > .enemy-target {
  cursor: pointer;
}
.board > .selectable > .piece {
  transition: box-shadow 0.1s ease;
  box-shadow: inset 0 0 0 3px hsla(0, 0%, 0%, 0.5);
}
.board > .selectable:hover > .piece {
  box-shadow: inset 0 0 6px 6px hsla(0, 0%, 100%, 0.8);
}
.board > .selected > .piece {
  box-shadow: inset 0 0 2px 6px hsla(0, 0%, 100%, 1);
}
.board > .move-target > .tile::before {
  content: '';
  position: absolute;
  display: block;
  width: 50%;
  height: 50%;
  margin: 25%;
  border-radius: 50%;
  background-color: hsla(100, 50%, 0%, 0.3);
}
.board > .enemy-target > .tile::before {
  content: '';
  position: absolute;
  display: block;
  width: 60%;
  height: 60%;
  margin: 20%;
  border-radius: 50%;
  opacity: 0.8;
  background-color: hsla(0, 50%, 80%, 1);
}
.board > .enemy-target:hover > .tile::before,
.board > .move-target:hover > .tile::before {
  opacity: 1;
}
.board > .attacker > .tile {
  background-color: hsla(0, 100%, 50%, 1);
}
.board > .defender > .tile {
  background-color: hsla(120, 100%, 50%, 1);
}

.piece {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.info {
  padding: 20px;
  display: flex;
}
.moves {
  max-height: 800px;
  overflow-y: auto;
  padding: 20px;
}
.move {
  display: block;
  border: none;
  text-align: center;
  padding: 4px 8px;
  line-height: 16px;
  background-color: hsla(0, 0%, 90%, 0.8);
  font-family: monospace;
}
.move:focus {
  outline: 3px solid hsla(240, 80%, 50%, 0.8);
}
.move:nth-child(even) {
  background-color: hsla(0, 0%, 10%, 0.8);
  color: white;
}
.actions {
  margin: 10px 0;
}
.actions button {
  width: 100%;
  padding: 4px 8px;
  line-height: 16px;
  border: none;
  text-transform: uppercase;
  box-shadow: 0 1px 4px 1px hsla(0, 0%, 0%, 0.3);
  transition: box-shadow 0.2s ease, background-color 0.2s ease;
  background-color: hsla(0, 0%, 50%, 0.3);
  cursor: pointer;
}
button:hover {
  box-shadow: 0 0 0 0 hsla(0, 0%, 0%, 0.3);
}
button:active {
  background-color: hsla(0, 0%, 0%, 0.3);
}
.actions button:focus:not(:active) {
  outline: 3px solid hsla(240, 80%, 50%, 0.8);
}

.control-moves {
  stroke-width: 0.01px;
  position: absolute;
  stroke-dasharray: 0.03, 0.07;
  top: 0;
}
.control-moves .enemy {
  stroke-dashoffset: 0.02;
  stroke: red;
}
.control-moves .player {
  stroke: green;
}
